/* change the font family and weight of the navbar */
nav {
    font-family: 'Ultramagnetic Bold', 'Century Gothic', 'Arial', sans-serif;
    font-weight: bold;
}
.navbar-custom {
    background-color: #011d41;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #fff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #a7a7a9;
}



/* change background image for top jumbotron */
#top_jumbo {
    background-image: linear-gradient(rgba(255, 246, 204, 0.5), rgba(255, 255, 255, 1)), url('../images/bw-laptop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* change jombotron lead shadow effect */
#jumbo_lead {
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.35);
}



/* change h1, h2, h3 color and font */
h1, h2, h3 {
    font-family: 'Ultramagnetic Bold', 'Century Gothic', 'Arial', sans-serif;
    font-weight: bold;
    color: #00467f;
}
/* change h4, h5 color, font, capitalization */
h4, h5 {
    font-family: 'Ultramagnetic Bold', 'Century Gothic', 'Arial', sans-serif;
    font-weight: bold;
    color: #00467f;
    text-transform: uppercase;
}
/* change hr color to gold */
hr {
    background-color: #e7a614;
}


/* change speaker images  */
#speaker_img {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* change link behavior */
#side_link {
    color: #00467f;
    text-decoration: none;
    font-weight: bold;
}
#side_link:hover {
    color: #fff;
    background-color: #00467f;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
}


/* change footer color */
footer {
    background-color: #011d41;
}